
[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "ninja; sys_platform != 'win32'",
    "cmake>=3.12",
    'pybind11'
]
build-backend = "setuptools.build_meta"

[tool.cibuildwheel]
skip = "cp36-*"